.searchBox {
  margin-top: 2rem;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.searchInput {
  border-radius: 0.5rem;
  background: transparent;
  color: white;
  width: 100%;
  padding: 1.5em;
  border: 1px solid #FFF;
  margin-top: 10px;
  font-size: 16px;
}
.searchInput::placeholder {
color: rgba(255, 255, 255, 0.521);
}

.movieSection {
  margin-top: 2rem;
  width: 100%;
}
.genreTitle {
  padding-left: 15px;
}

.searchResult {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.allMoviesInGenre::-webkit-scrollbar {
  display: none;
}
.asd {
  display: flex;
  width: 100%;
}

.allMoviesInGenre {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  /* gap: 1rem; */
}
.moviePicture {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
}
.movieTitle {
  height: 2rem;
}
.moviesSectionContainer {
  padding: 0 2rem;
}
