.categoryChoiceWrapper {
    width: 200px;    
    margin: 75px 0 0 40px;
    font-size: 24px;
    position: relative;
}

.categorySelector {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c1c1c1;
    padding: 5px;

}

.categoryDropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 310px;
    overflow: scroll;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px #FFF;
}

.dropdownChoice {
    padding: 10px 5px;
}