.thumbnailContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    margin: 15px;
}

.title {
    min-height: 50px;
    padding: 5px;
}

.subTitle {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.thumbnail {  
    display: flex;
    position: relative;
    align-items: flex-end;
}

.fa-bookmark {
    padding: 10px;
    top: 5px;
    right: 0;
    color: #FA7800;
    position: absolute;
}

.thumbnail img {  
    width: 250px;
}