.thumbnailContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15.625rem;
  margin: 0.313rem;
}

.title {
  margin-top: 0.5rem;
  height: 100%;
  padding: 0.313rem;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding: 0.313rem;
}

.thumbnail {
  display: flex;
  position: relative;
  align-items: flex-end;
  background-color: #111111;
  border-radius: 0.625rem;
}

.thumbnailContainer .fa-bookmark {
  padding: 0.5rem;
  top: 1.313rem;
  right: -0.5rem;
  color: #3e5083fb;
  position: absolute;
  transition: color 0.3s;
  font-size: 3.8rem;
}

.thumbnailContainer .fa-bookmark:hover {
  color: #4b5f7c;
}

.thumbnailContainer .bookmarked .fa-bookmark {
  color: #01bd36;
}

.bookmarked .fa-bookmark:hover {
  color: #47a34a;
}

.thumbnail img {
  height: 23rem;
  border-radius: 0.625rem;
}
.bookmarkButton {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  transition: 0.15s;
}

.bookmarkButton::before {
  content: '+';
  position: absolute;
  top: 7%;
  right: 1.5%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  transition:
    opacity 0.3s,
    transform 0.3s;
  opacity: 1;
  z-index: 10;
}

.bookmarkButton.bookmarked::before {
  opacity: 0;
  transform: scale(0);
}

.bookmarkButton::after {
  content: '✓';
  position: absolute;
  top: 2%;
  right: 5.5%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.5rem;
  color: white;
  transition:
    opacity 0.3s,
    transform 0.3s;
  opacity: 0;
}

.bookmarkButton.bookmarked::after {
  opacity: 1;
  transform: scale(1);
}
