.searchBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.searchInput {
  border-radius: 0.5rem;
  height: 2rem;
  width: 12rem;
  padding-left: 0.4rem;
  outline: none;
}

.movieSection {
  margin-top: 2rem;
  width: 100%;
}

.allMoviesInGenre::-webkit-scrollbar {
  display: none;
}

.allMoviesInGenre {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  gap: 1 rem;
}
.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.7rem 0.7rem 0rem 0rem;
  margin-bottom: 2rem;
}
.moviePicture {
  max-width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.3rem;
}
.movieTitle {
  height: 2.5rem;
  margin-top: 0.5rem;
}

.movie-list-wrapper .swiper-slide {
  width: 15%;
}

@media (max-width: 1024px) {
  .movie-list-wrapper .swiper-slide {
    width: 30%;
  }
}

@media (max-width: 850px) {
  .movie-list-wrapper .swiper-slide {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .movie-list-wrapper .swiper-slide {
    width: 50%;
  }
}

@media (max-width: 400px) {
  .movie-list-wrapper .swiper-slide {
    width: 60%;
  }
}
