@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');
body,
html {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);

  color: #f5f5f5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Afacad', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
