.hero-slide-container {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  color: #f2f2f2;
}

.hero-slide-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-slide-container > * {
  position: relative;
  z-index: 2;
}

.hero-slide-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

.is-trending-label {
  padding: 0.313rem 0.625rem;
  background-image: linear-gradient(
    to right top,
    #0041be,
    #005ace,
    #0073db,
    #298ae7,
    #49a1f0
  );
  width: 8rem;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.hero-slide-container h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero-slide-container p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .hero-slide-container h2 {
    font-size: 2rem;
  }
  .hero-slide-container p {
    font-size: 1rem;
  }
  .is-trending-label {
    width: 6.2rem;
    padding: 0.1875rem 0.5rem;
    font-size: 0.8rem;
  }
}

.hero-slide-container button {
  width: 9rem;
  padding: 1rem 0rem;
  border-radius: 0.313rem;
  margin-right: 0.625rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.625rem;
}

.hero-slide-bookmark {
  border: 1px solid #f2f2f2;
  background: transparent;
  background-image: none;
  color: #f2f2f2;
}

.hero-slide-bookmark:hover,
.hero-slide-bookmark.bookmarked {
  background-image: linear-gradient(
    to right top,
    #0041be,
    #005ace,
    #0073db,
    #298ae7,
    #49a1f0
  );
  color: #f2f2f2;
}

.hero-slide-read-more {
  border: 1px solid #f2f2f2;
  background-image: none;
}

.hero-slide-read-more:hover {
  background-image: linear-gradient(
    to right top,
    #0041be,
    #005ace,
    #0073db,
    #298ae7,
    #49a1f0
  );
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
}

.hero-slide-icon {
  margin-right: 0.625rem;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #f2f2f2;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0041be;
}
